.product {
	position: relative;
	z-index: 3;
	padding-top: 135px;
}

.product__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.product__item {
	width: calc(100% / 3 - 40px);
	background-color: #f6f6f6;
	padding-top: 55px;
	padding-bottom: 34px;
	padding-right: 30px;
	padding-left: 42px;
	margin: 0 20px;
	margin-bottom: 48px;
}

.product__image {
	height: 0px;
	padding-top: 88%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

.product__subtitle {
	font-size: 24px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-weight: normal;
}

.product__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 18px;
}

.product__capacity {
	font-size: 18px;
	line-height: 1.2;
	color: #115F41;
	font-weight: normal;
}

.product__currency {
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	text-transform: uppercase;
	font-weight: 200;
}

.product__block {
	display: flex;
	align-items: center;
}

.product__cart {
	display: block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-color: #115F41;
	border: none;
	outline: none;
	border-radius: 20px;
	margin-right: 20px;
	transition: 0.3s background-color;
}

.product__cart svg {
	display: block;
	width: 20px;
	height: 18px;
	fill: #f6f6f6;
	margin: 0 auto;
}

.product__cart:hover {
	background-color: #04140e;
}

.product__cart--active {
	background-color: #04140e;
}

.product__count {
	cursor: default;
	display: block;
	max-width: 27px;
	font-size: 24px;
	color: #115F41;
	border: none;
	outline: none;
	background-color: transparent;
	margin-right: 10px;
}

.product__btn {
	display: block;
	position: relative;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: none;
	outline: none;
	background-color: transparent;
}

.product__btn:after,
.product__btn:before {
	position: absolute;
	content: ' ';
	background-color: #115F41;
	border-radius: 5px;
	transition: 0.3s background-color;
}

.product__btn:after {
	top: calc(50% - 2px);
	left: 0px;
	width: 20px;
	height: 4px;
}

.product__btn--increment {
	margin-right: 10px;
}

.product__btn--increment:before {
	top: 0px;
	left: calc(50% - 2px);
	width: 4px;
	height: 20px;
}

.product__btn:hover:after,
.product__btn:hover:before {
	background-color: #04140e;
}

.product__price {
	cursor: default;
	font-size: 36px;
	line-height: 1.2;
	color: #115F41;
	margin-left: auto;
	font-weight: 200;
}

@media screen and (max-width: 1250px) {

.product__item {
	padding: 40px 25px;
	padding-bottom: 35px;
}

.product__count {
	font-size: 22px;
}

.product__price {
	font-size: 28px;
}

}

@media screen and (max-width: 1050px) {

.product {
	padding-top: 80px;
}

.product__item {
	width: calc(100% / 2 - 40px);
}

}

@media screen and (max-width: 780px) {

.product {
	padding-top: 50px;
}

.product__wrap {
	max-width: 400px;
	margin: 0 auto;
}

.product__item {
	width: 100%;
	padding: 40px 20px;
	padding-bottom: 30px;
	margin: 0px;
	margin-bottom: 40px;
}

.product__subtitle {
	font-size: 22px;
}

}

@media screen and (max-width: 560px) {

.product__subtitle {
	font-size: 20px;
}

}

